<%- include ('../../partials/header.ejs')%>
<body>  

    <%- include ('../../partials/navbar.ejs')%>
    
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>Login de Usuario</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/authenticate">
                    <input class="form-control mb-3" type="email" name="email" placeholder="email@exemplo.com.br">
                    <input class="form-control mb-3" type="password" name="password" placeholder="*******">
                    <button class="btn btn-success btn-block" type="submit">LOGAR</button>
                </form>
            </div>
        </div>
    </div>

</body>

<%- include ('../../partials/footer.ejs')%>